# example unit file when systemd is used

[Unit]
Description=Banking Monitoring

[Service]
Type=simple
ExecStart=/etc/init.d/banking_monitor.sh start
ExecStop=/etc/init.d/banking_monitor.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target